

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-552998475273339882.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-552998475273339882.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-552998475273339882.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-552998475273339882.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-552998475273339882.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-552998475273339882.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-552998475273339882.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-552998475273339882.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-552998475273339882.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-552998475273339882.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-552998475273339882.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-552998475273339882.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-552998475273339882.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-552998475273339882.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-552998475273339882.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-552998475273339882.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-552998475273339882.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-552998475273339882.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-552998475273339882.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-552998475273339882.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-552998475273339882.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-552998475273339882.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-552998475273339882.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-552998475273339882.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-552998475273339882.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-552998475273339882.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-552998475273339882.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-552998475273339882.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-552998475273339882.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-552998475273339882.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-552998475273339882.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-552998475273339882.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-552998475273339882.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-552998475273339882.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-552998475273339882.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-552998475273339882.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-552998475273339882.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-552998475273339882.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-552998475273339882.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-552998475273339882.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-552998475273339882.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-552998475273339882.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-552998475273339882.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-552998475273339882.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-552998475273339882.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-552998475273339882.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-552998475273339882.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-552998475273339882.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-552998475273339882.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-552998475273339882.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-552998475273339882.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-552998475273339882.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-552998475273339882.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-552998475273339882.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-552998475273339882.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-552998475273339882.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-552998475273339882.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-552998475273339882.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-552998475273339882.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-552998475273339882.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-552998475273339882.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-552998475273339882 .gp-relative{position:relative}.gps-552998475273339882 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-552998475273339882 .gp-mb-0{margin-bottom:0}.gps-552998475273339882 .gp-flex{display:flex}.gps-552998475273339882 .gp-grid{display:grid}.gps-552998475273339882 .\!gp-hidden{display:none!important}.gps-552998475273339882 .gp-hidden{display:none}.gps-552998475273339882 .gp-max-w-full{max-width:100%}.gps-552998475273339882 .gp-flex-col{flex-direction:column}.gps-552998475273339882 .gp-gap-y-0{row-gap:0}.gps-552998475273339882 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-552998475273339882 .gp-duration-200{transition-duration:.2s}.gps-552998475273339882 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-552998475273339882 .tablet\:\!gp-hidden{display:none!important}.gps-552998475273339882 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-552998475273339882 .mobile\:\!gp-hidden{display:none!important}.gps-552998475273339882 .mobile\:gp-hidden{display:none}}.gps-552998475273339882 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-552998475273339882 .\[\&_p\]\:gp-inline p{display:inline}.gps-552998475273339882 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-552998475273339882 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gb0knKk5JY" data-id="gb0knKk5JY"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:100px;--pl:20px;--pb:100px;--pr:20px;--pt-mobile:70px;--pl-mobile:0px;--pb-mobile:70px;--pr-mobile:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gb0knKk5JY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="godb0TBHl1 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNm1rZHJ04">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gNm1rZHJ04 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:48px;--pl:0px;--pr:32px;--mt-mobile:0px;--mb-mobile:42px;--pl-mobile:20px;--pr-mobile:20px;--mb-tablet:48px;--pl-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:40px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNm1rZHJ04_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-552998475273339882 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/soapyfluffs/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=519094461741991057&sectionId=552998475273339882)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggNm1rZHJ04_text","label":"ggNm1rZHJ04_text","default":"Nourish, hydrate, and soften with our skin cream."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
